<div class="row">
  <div class="column">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Paramètres de l'exercice</h3>
      </div>
      <% if @exercises.any? %>
        <%= simple_form_for [:teacher, @chapter_exercise]  do |f| %>
          <div class="content-area">
            <%= f.association :exercise, collection: @exercises, label: 'Exercice' %>
            <%#= f.input :max_tries, label: 'Nombre de tentatives', collection: (0..10).map { |num| [num == 0 ? 'Illimité' : num, num] } %>
            <%#= f.input :due_date, as: :date, label: 'Doit être fait au plus tard le', include_blank: true, hint: 'Laissez vide si vous ne souhaitez pas bloquer l\'accès après cette date.' %>
          </div>
          <div class="actions-area">
            <%= f.button :submit, 'Enregistrer' %>
          </div>
        <% end %>
      <% else %>
        <div class="content-area">
          <p>Vous ne possédez pas d'exercices du niveau <%= @chapter.level.name %>. <%= link_to 'Cliquez ici', teacher_exercises_path %> pour en créer.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
