<div class="message" data-user-type="<%= group_notification.user_type %>" data-user-id="<%= group_notification.user_id %>">
  <div class="message_gutter">
    <div class="message_icon">
      <div class="member_preview" style="background-image: url('<%= gravatar_url(group_notification.user.email) %>')" aria-hidden="true">
      </div>
    </div>
    <span class="message_timestamp"><%= group_notification.created_at.strftime('%H:%M') %></span>
  </div>
  <div class="message_content">
    <span class="message_author"><%= group_notification.user.full_name %></span>
    <span class="message_timestamp"><%= group_notification.created_at.strftime('%H:%M') %></span>
    <span class="message_body"><%= group_notification.body %></span>
  </div>
</div>
