<div class="message" data-user-type="<%= message.user_type %>" data-user-id="<%= message.user_id %>">
  <div class="message_gutter">
    <div class="message_icon">
      <div class="member_preview" style="background-image: url('<%= gravatar_url(message.user.email) %>')" aria-hidden="true">
      </div>
    </div>
    <span class="message_timestamp"><%= message.created_at.strftime('%H:%M') %></span>
  </div>
  <div class="message_content">
    <span class="message_author"><%= message.user.full_name %></span>
    <span class="message_timestamp"><%= message.created_at.strftime('%H:%M') %></span>
    <span class="message_body"><%= message.body %></span>
  </div>
</div>
