<% content_for :title, @exercise_form.exercise_name %>
<div class="page-title">
  <div class="title">
    <%= @exercise_form.exercise_name %>
  </div>
  <div class="links">
    <% if current_user.in? @exercise_form.exercise.authors %>
      <%= link_to material_icon.arrow_back, teacher_exercise_path(@exercise_form.exercise) %>
    <% else %>
      <%= link_to material_icon.arrow_back, search_teacher_exercises_path %>
      <%= link_to material_icon.content_copy, teacher_exercise_copy_path(@exercise), method: :post %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="column xs-12">
    <div class="card">
      <div class="content-area">
        <% if @exercise_form.exercise_statement.blank? %>
          <p>Répondre aux questions suivantes:</p>
        <% else %>
          <div class=trix-content">
            <%= @exercise_form.exercise_statement.html_safe %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card">
      <%= simple_form_for @exercise_form, url: teacher_try_exercise_path(@exercise_form.exercise), method: :post do |f| %>
        <% @exercise_form.questions.each do |question| %>
          <div class="title-area">
            <h3 class="main-title"><%= question.print_title %></h3>
          </div>
          <div class="content-area">
            <div class="trix-content">
              <%= question.content.html_safe %>
            </div>
            <%= simple_fields_for :answers do |s| %>
              <%= render question, f: s, question: question %>
            <% end %>
          </div>
        <% end %>
        <div class="actions-area">
          <%= f.button :submit, 'Enregistrer', class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
