<% content_for :title, "#{@exercise_form.exercise_name} - Résultat" %>
<% if current_user.in? @exercise_form.exercise.authors %>
  <% content_for :parent_url, teacher_exercises_path %>
<% else %>
  <% content_for :parent_url, search_teacher_exercises_path %>
<% end %>
<div class="row">
  <div class="column xs-12 l8 offset-l2">
    <div class="card">
      <div class="content-area">
        <% if @exercise_form.exercise_statement.blank? %>
          <p>Répondre aux questions suivantes:</p>
        <% else %>
          <div class=trix-content">
            <%= @exercise_form.exercise_statement.html_safe %>
          </div>
        <% end %>
      </div>
      <div class="actions-area">
        <% if current_user.in? @exercise_form.exercise.authors %>
          <%= link_to 'Modifier', teacher_exercise_path(@exercise_form.exercise) , class: 'btn'%>
        <% else %>
          <%= link_to 'Copier', teacher_exercise_copy_path(@exercise_form.exercise), method: :post, class: 'btn' %>
        <% end %>
      </div>
    </div>
    <% @exercise_form.questions.each do |question| %>
      <div class="card <%= class_for_result(@exercise_form.results[question.id.to_s])%>">
        <div class="title-area">
          <h3 class="main-title">
            <%= question.print_title %>
          </h3>
        </div>
        <div class="content-area">
          <div class="trix-content">
            <%= question.content.html_safe %>
          </div>
          <p>Vous avez répondu <%= @exercise_form.answers[question.id.to_s] %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
