<% content_for :title, @lesson.name %>
<% content_for :parent_url, teacher_lessons_path %>
<div class="row">
  <div class="column xs12 s6 m12 l6">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @lesson.name %></h3>
      </div>
      <div class="content-area">
        <strong>Enseignement :</strong> <%= @lesson.teaching_name %><br>
        <strong>Niveaux :</strong> <%= @lesson.level_names %><br>
        <strong>Popularité :</strong> <%= @lesson.popularity %>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', [:edit, :teacher, @lesson], class: 'btn' %>
        <%= link_to 'Voir', [:preview, :teacher, @lesson], class: 'btn' %>
      </div>
    </div>
  </div>
  <div class="column xs12 s6 m12 l6">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Auteurs</h3>
      </div>
      <div class="content-area">
        <% @lesson.authors.each do |author| %>
          <div class="user-bar"> <img src="<%= gravatar_url(author.email) %>" alt="<%= author.full_name %> avatar" /> <span><%= author.full_name %></span></div>
        <% end %>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', [:teacher, @lesson, :authorships], class: 'btn' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <% if @lesson.steps.size == 0 %>
        <div class="content-area">
          <p>
            Ce cours ne possède pas encore de séances.
          </p>
        </div>
        <% if current_user.in? @lesson.authors %>
          <div class="actions-area">
            <%= link_to 'Ajouter une séance', [:new, :teacher, @lesson, :step], class: 'btn link-add' %>
          </div>
        <% end %>
      <% else %>
        <div class="stepper-area">
          <% @lesson.steps.each do |step| %>
            <div class="stepper-bar">
              <span class="stepper-position"><%= step.position %></span>
              <span class="stepper-title">
                <%= step.print_title %>
                <% if current_user.in? @lesson.authors %>
                  <%= link_to material_icon.edit, [:edit, :teacher, step] %>
                  <%= link_to material_icon.delete, [:teacher, step], method: :delete, data: { confirm: 'En êtes vous sûr ?' }, class: 'link-destroy' %>
                <% end %>
              </span>
            </div>
            <div class="stepper-content trix-content">
              <%= step.content.html_safe %>
            </div>
          <% end %>
          <% if current_user.in? @lesson.authors %>
            <a class="stepper-bar adder" href="<%= new_teacher_lesson_step_path(@lesson) %>">
              <span class="stepper-position"><%= material_icon.add %></span>
              <span class="stepper-title">Ajouter</span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
