<% content_for :title, "Chercher un cours" %>
<div class="page-title">
  <div class="title">Chercher un cours</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, :lessons] %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l3">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">
          <%= material_icon.search %> Chercher un cours
        </h3>
      </div>
      <%= search_form_for @q, url: [:search, :teacher, :lessons], defaults: { required: false } do |f| %>
      <div class="content-area">
        <div class="row">
          <div class="column xs12 s6 l12">
            <%= f.input :name_cont, label: 'Titre contient' %>
          </div>
          <div class="column xs12 s3 l12">
            <%= f.input :teaching_id_eq, collection: Teaching.ordered, label: 'Enseignement' %>
          </div>
          <div class="column xs12 s3 l12">
            <%= f.input :editable_levels_level_id_eq, collection: Level.all, label: 'Niveau' %>
          </div>
        </div>
      </div>
      <div class="actions-area">
        <%= f.submit 'Chercher', class: 'btn' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="column xs12 l9">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Cours partagés
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text"><%= sort_link(@q, :name, 'Titre') %></th>
                <th class="text"><%= sort_link(@q, :teaching_name, 'Enseignement') %></th>
                <th class="text"><%= sort_link(@q, :levels_short_name, 'Niveaux') %></th>
                <th class="numeric"><%= sort_link(@q, :popularity, 'Popularité', default_order: :desc) %></th>
                <th class="numeric"><%= sort_link(@q, :authorships_count, 'Auteurs', default_order: :desc) %></th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% @lessons.each do |lesson| %>
                <tr>
                  <td class="text"><%= lesson.name %></td>
                  <td class="text"><%= lesson.teaching_short_name %></td>
                  <td class="text"><%= lesson.level_names %></td>
                  <td class="numeric"><%= lesson.popularity %></td>
                  <td class="numeric"><%= lesson.authorships.size %></td>
                  <td class="actions">
                    <%= link_to material_icon.visibility, [:teacher, lesson ], class: 'btn link-see' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="footer">
          <div class="page-info">
            <%= page_entries_info @lessons %>
          </div>
          <%= paginate @lessons %>
        </div>
      </div>
    </div>
  </div>
</div>
