<% content_for :title, @lesson.name %>
<% if current_user.in? @lesson.authors %>
  <% content_for :parent_url, teacher_lessons_path %>
<% else %>
  <% content_for :parent_url, search_teacher_lessons_path %>
<% end %>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @lesson.name %></h3>
      </div>
      <div class="content-area">
        <strong>Enseignement :</strong> <%= @lesson.teaching_name %><br>
        <strong>Niveaux :</strong> <%= @lesson.level_names %><br>
        <strong>Popularité :</strong> <%= @lesson.popularity %>
      </div>
      <div class="actions-area">
        <% if current_user.in? @lesson.authors %>
          <%= link_to 'Modifier', [:teacher, @lesson], class: 'btn' %>
        <% else %>
          <%= link_to 'Copier', [:teacher, @lesson, :copy], method: :post, class: 'btn' %>
        <% end %>
      </div>
    </div>
    <% @lesson.steps.each do |step| %>
      <div class="card">
        <div class="title-area">
          <h3 class="main-title"><%= step.print_title %></h3>
        </div>
        <div class="content-area">
          <div class="trix-content">
            <%= step.content.html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
