<% content_for :title, 'Informations de confirmation' %>
<div class="page-title">
  <div class="title">
    Renvoyer les instructions de déblocage
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, root_url %>
  </div>
</div>
<div class="row">
  <div class="column xs12 offset-m2 m8 offset-l1 l7">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Renvoyer les instructions de déblocage</h3>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }, defaults: { required: false }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="content-area">
          <%= f.input :email, label: 'Courriel' %>
        </div>

        <div class="actions-area">
          <%= f.button :submit, 'Renvoyer' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="column xs12 offset-m2 m8 offset-l0 l3">
    <div class="card">
      <div class="content-area">
        <ul class=single-line>
          <%= render 'accounts/shared/links' %>
        </ul>
      </div>
    </div>
  </div>
</div>
