<% content_for :title, 'Cycles et niveaux' %>
<div class="page-title">
  <div class="title">Cycles & Niveaux</div>
  <div class="links">
    <%= link_to material_icon.add, new_admin_cycle_path %>
  </div>
</div>
<div id="cycles" class="row" data-sort-url="<%= admin_sort_cycles_path %>">
  <% @cycles.each do |cycle| %>
    <div class="column xs12 s6 m6 l4" id="cycle_<%= cycle.id %>">
      <div class="card">
        <div class="table-area">
          <div class="header">
            <%= material_icon.reorder.css_class('draggable') %>
            <span class="text"><%= cycle.name %></span>
          </div>
          <table>
            <thead>
              <tr>
                <th class="text">Type</th>
                <th class="text">Nom</th>
                <th class="numeric"></th>
              </tr>
            </thead>
            <tbody>
              <% cycle.levels.each do |level| %>
                <tr>
                  <td class="text"><%= level.level_type %></td>
                  <td class="text"><%= level.name %></td>
                  <td class="numeric"><%= link_to 'Enseignements', '#' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="actions-area">
          <%= link_to 'Modifier', edit_admin_cycle_path(cycle), class: 'btn' %>
          <%= link_to 'Supprimer', admin_cycle_path(cycle), method: :delete, class: 'btn link-destroy', data: { confirm: 'En êtes vous sûr?' } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $('#cycles').sortable({
    items: '>div',
    handle: '.draggable',
    cursor: 'move',
    containment: 'parent',
    tolerance: 'pointer',
    update: function (event, ui) {
      $.post($(this).data('sort-url'), $(this).sortable('serialize'));
    }
  });
</script>
