<% content_for :title, "#{@assignment.exercise_name} - Résultats" %>
<% content_for :parent_url, url_for([:teacher, @assignment.chapter]) %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Résultats par élève
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Nom</th>
                <th class="text">Prénom</th>
                <th class="numeric">Score</th>
                <th class="numeric">Tentatives</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% @assignment.chapter.group.students.includes(:account).each do |student| %>
                <% last_exercise = student.user_exercise_forms.where(exercise_id: @assignment.exercise_id).last %>
                <tr>
                  <td class="text"><%= student.last_name %></td>
                  <td class="text"><%= student.first_name %></td>
                  <td class="numeric"><%=  last_exercise ? last_exercise.score : 0 %></td>
                  <td class="numeric"><%= student.user_exercise_forms.where(exercise_id: @assignment.exercise_id).count %></td>
                  <td class="actions">
                    <% if last_exercise %>
                      <%= link_to material_icon.visibility, teacher_chapter_assignment_result_path(@assignment.chapter_id, @assignment.exercise_id, last_exercise.id), class: 'btn' %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
