<% content_for :title, 'Inscription' %>
<div class="page-title">
  <div class="title"> Inscription </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, root_url %>
  </div>
</div>
<div class="row">
  <div class="column xs12 offset-m2 m8 offset-l1 l7">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Vos données</h3>
      </div>
      <%= simple_form_for(@teacher, url: account_registration_path, defaults: { required: false }) do |f| %>
        <div class="content-area">
          <%= f.simple_fields_for :account do |s| %>
            <%= s.input :first_name, label: 'Prénom' %>
            <%= s.input :last_name, label: 'Nom de famille' %>
            <%= s.input :user_type, as: :radio_buttons, collection: Account.role_options, label: 'Role', disabled: true %>
            <%= s.input :email, label: 'Courriel' %>
            <%= s.input :password, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), label: 'Mot de passe' %>
            <%= s.input :password_confirmation, label: 'Confirmez le mot de passe' %>
          <% end %>
        </div>

        <div class="title-area">
          <h3 class="main-title">Votre établissement</h3>
        </div>

        <div class="content-area" id="finding_school">
          <%= f.simple_fields_for :school_teacher do |s| %>
            <div class="input select optional">
              <%= select_tag :country_id, options_for_select(Country.all.map { |country| [country.translations['fr'], country.alpha2] }.unshift(['Choisir un pays', ''])) %>
              <%= label_tag :country_id, 'Pays' %>
              <div class="bar"></div>
            </div>
            <div id="state_select">
            </div>
            <div id="city_select">
            </div>
            <%= s.association :school, label: 'Établissement', input_html: { class: 'no-select' } %>
          <% end %>
          <p>Votre établissement n'est pas encore inscrit? <%= link_to 'Cliquez ici pour l\'ajouter', new_public_school_path %></p>
        </div>

        <div class="actions-area">
          <%= f.button :submit, 'Inscription' %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="column xs12 offset-m2 m8 offset-l0 l3">
    <div class="card">
      <div class="content-area">
        <ul class=single-line>
          <%= render 'accounts/shared/links' %>
        </ul>
      </div>
    </div>
  </div>
</div>
