<% content_for :title, 'Nouvel établissement' %>
<div class="page-title">
  <div class="title">Nouvel établissement</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, root_url %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouvel établissement</h3>
      </div>
        <%= simple_form_for @school, url: public_schools_path do |f| %>
          <div class="content-area">
            <%= f.input :name, label: 'Nom' %>
            <%= f.input :identifier, label: 'Identifiant' %>
            <%= f.input :country, label: 'Pays', collection: Country.all.map {|country| [country.translations['fr'], country.alpha2]} %>
            <%= f.input :state, label: 'Département', collection: School.states %>
            <%= f.input :city, label: 'Ville' %>
            <%= f.input :website, label: 'Site web' %>
            <%= f.input :email, label: 'Email' %>
          </div>
          <div class="actions-area">
            <%= f.button :submit, 'Enregistrer' %>
          </div>
        <% end %>
    </div>
  </div>
</div>
