<% content_for :title, @exercise.name %>
<% content_for :parent_url, teacher_exercises_path %>
<div class="row">
  <div class="column xs12 l4">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Données de l'exercice</h3>
      </div>
      <div class="content-area">
        <strong>Titre :</strong> <%= @exercise.name %><br>
        <strong>Enseignement :</strong> <%= @exercise.teaching_name %><br>
        <strong>Niveaux :</strong> <%= @exercise.level_names %><br>
        <strong>Popularité :</strong> <%= @exercise.popularity %>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', [:edit, :teacher, @exercise], class: 'btn' %>
        <%= link_to 'Voir', teacher_try_exercise_path(@exercise), class: 'btn' %>
      </div>
    </div>
  </div>
  <div class="column xs12 s6 l4">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Groupes qui ont accès à cet exercice</h3>
      </div>
      <div class="content-area">
        <% if @assignments.any? %>
          <ul>
            <% @assignments.each do |assignment| %>
              <li><%= assignment.chapter.group.display_name %> dans le chapitre <%= assignment.chapter.name %></li>
            <% end %>
          </ul>
        <% else %>
          <p>Vous n'utilisez pas encore cet exercice avec l'un de vos groupes.</p>
        <% end %>
      </div>
      <div class="actions-area">
        <%= link_to 'Ajouter', new_teacher_exercise_assignment_path(@exercise), class: 'btn' %>
      </div>
    </div>
  </div>
  <div class="column xs12 s6 l4">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Auteurs<h3>
      </div>
      <div class="content-area">
        <% @exercise.authors.each do |author| %>
          <div class="user-bar small"> <img src="<%= gravatar_url(author.email) %>" alt="<%= author.full_name %> avatar" /> <span><%= author.full_name %></span></div>
        <% end %>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', [:teacher, @exercise, :authorships], class: 'btn' %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Énoncé et questions</h3>
      </div>
      <% if @exercise.statement %>
        <div class="content-area">
          <div class="trix-content">
            <%= @exercise.statement.html_safe %>
          </div>
        </div>
      <% end %>
      <% if @exercise.questions.size == 0 %>
        <div class="content-area">
          <p>
            Cet exercice ne possède pas encore de questions.
          </p>
        </div>
        <% if current_user.in? @exercise.authors %>
          <div class="actions-area">
            <%= link_to 'Ajouter une question', [:new, :teacher, @exercise, :question], class: 'btn link-add' %>
          </div>
        <% end %>
      <% else %>
        <div class="stepper-area">
          <% @exercise.questions.each do |question| %>
            <div class="stepper-bar">
              <span class="stepper-position"><%= question.position %></span>
              <span class="stepper-title">
                <%= question.print_title %>
                <% if current_user.in? @exercise.authors %>
                  <%= link_to material_icon.edit, edit_teacher_question_path(question) %>
                  <%= link_to material_icon.delete, teacher_question_path(question), method: :delete, data: { confirm: 'En êtes vous sûr ?' }, class: 'link-destroy' %>
                <% end %>
              </span>
            </div>
            <div class="stepper-content">
              <div class="trix-content">
                <%= question.content.html_safe %>
              </div>
              <% unless question.print_type == 'redaction' %>
                <div class="answers">
                  <p class="title">Réponses <%= link_to material_icon.edit, answers_teacher_question_path(question) %></p>
                  <div class="row">
                    <% question.answers.each do |answer| %>
                      <%= render answer, answer: answer %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
          <% if current_user.in? @exercise.authors %>
            <a class="stepper-bar adder" href="<%= new_teacher_exercise_question_path(@exercise) %>">
              <span class="stepper-position"><%= material_icon.add %></span>
              <span class="stepper-title">Ajouter</span>
            </a>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
