<% content_for :title, @group.display_name %>
<div class="row">
  <div class="column xs12 l10 offset-l1">
    <div class="card">
      <div class="tabs-area">
        <div class="row">
          <ul class="tabs">
            <li class="tab column xs6 active">
              <%= link_to 'Chapitres', '#group_chapters' %>
            </li>
            <li class="tab column xs6">
              <%= link_to 'Discussion', '#group_chat' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row tabs-container">
        <div class="tab-content column xs12 active" id="group_chapters">
          <div class="accordion-area">
            <% @group.chapters.each do |chapter| %>
              <% present chapter do |chapter_presenter| %>
                <div class="parent">
                  <h4><%= chapter.name %></h4>
                  <div class="overflow">
                    <div class="children">
                      <div class="separator">
                        Cours
                      </div>
                      <%= chapter_presenter.lessons %>
                      <div class="separator">
                        Exercices non faits
                      </div>
                      <%= chapter_presenter.undone_exercises %>
                      <div class="separator">
                        Exercices faits
                      </div>
                      <%= chapter_presenter.done_exercises %>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="tab-content column xs12" id="group_chat">
          <%= render 'group_chat/chat_area' %>
        </div>
      </div>
    </div>
  </div>
</div>
