<% content_for :title, @chapter.name %>
<div class="page-title">
  <div class="title">
    <%= @chapter.name %>
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, @chapter.group] %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Cours
        </div>
        <table>
          <thead>
            <tr>
              <th class="text">Titre</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% if @chapter.lessons.any? %>
              <% @chapter.lessons.each do |lesson| %>
                <tr>
                  <td class="text"><%= lesson.name %></td>
                  <td class="actions">
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">Vous n'avez pas encore associé de cours avec ce chapitre.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', teacher_chapter_lessons_path(@chapter), class: 'btn' %>
      </div>
    </div>
    <div class="card">
      <div class="table-area">
        <div class="header">
          Exercices
        </div>
        <table>
          <thead>
            <tr>
              <th class="text">Titre</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% if @chapter.exercises.any? %>
              <% @chapter.exercises.each do |exercise| %>
                <tr>
                  <td class="text"><%= exercise.name %></td>
                  <td class="actions">
                    <%= link_to material_icon.edit, [:edit, :teacher, @chapter, exercise], class: 'btn link-edit' %>
                    <%= link_to material_icon.delete, [:teacher, @chapter, exercise], method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">Vous n'avez pas encore associé d'exercices avec ce chapitre.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="actions-area">
        <%= link_to 'Ajouter', new_teacher_chapter_exercise_path(@chapter), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
