<% content_for :title, @chapter.name %>
<% content_for :parent_url, url_for([:teacher, @chapter.group]) %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Cours
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Titre</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% if @chapter.lessons.any? %>
                <% @chapter.lessons.each do |lesson| %>
                  <tr>
                    <td class="text"><%= lesson.name %></td>
                    <td class="actions">
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">Vous n'avez pas encore associé de cours avec ce chapitre.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions-area">
        <%= link_to 'Modifier', teacher_chapter_lessons_path(@chapter), class: 'btn' %>
      </div>
    </div>
    <div class="card">
      <div class="table-area">
        <div class="header">
          Exercices
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Titre</th>
                <th class="actions">Résultats</th>
                <th class="boolean">Évalué?</th>
                <th class="actions">Évaluations</th>
                <th class="actions">Supprimer</th>
              </tr>
            </thead>
            <tbody>
              <% if @chapter.assignments.any? %>
                <% @chapter.assignments.includes(:exercise).each do |assignment| %>
                  <tr>
                    <td class="text"><%= assignment.exercise_name %></td>
                    <td class="actions">
                      <%= link_to material_icon.timeline, teacher_chapter_assignment_path(@chapter, assignment.exercise_id), class: 'btn link-see' %>
                    </td>
                    <td class="boolean">
                      <%= assignment.assessed? ? material_icon.check.css_class('icon-success') : material_icon.close.css_class('icon-error') %>
                    </td>
                    <td class="actions">
                      <%= link_to material_icon.assessment, edit_teacher_chapter_assignment_path(@chapter, assignment.exercise_id), class: 'btn link-edit' %>
                    </td>
                    <td class="actions">
                      <%= link_to material_icon.delete, teacher_chapter_assignment_path(@chapter, assignment.exercise_id), method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="5">Vous n'avez pas encore associé d'exercices avec ce chapitre.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions-area">
        <%= link_to 'Ajouter', new_teacher_chapter_assignment_path(@chapter), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
