<% content_for :title, 'Mes groupes' %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Mes groupes
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Enseignement</th>
                <th class="text">Niveau</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% if @groups.any? %>
                <% @groups.each do |group| %>
                  <tr>
                    <td class="text"><%= group.teaching_name %></td>
                    <td class="text"><%= group.level_name %></td>
                    <td class="actions">
                      <%= link_to material_icon.visibility, [:teacher, group], class: 'btn' %>
                      <%= link_to material_icon.edit, [:edit, :teacher, group], class: 'btn' %>
                      <%= link_to material_icon.delete, [:teacher, group], method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="3">Vous ne possédez pas encore de groupes.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions-area">
        <%= link_to 'Ajouter un groupe', new_teacher_group_path, class: 'btn' %>
      </div>
    </div>
  </div>
</div>
