<% content_for :title, "#{@group.teaching_name} (#{@group.level_name})" %>
<div class="page-title">
  <div class="title">
    <%= @group.teaching_name %> (<%= @group.level_name %>)
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, teacher_groups_path %>
    <%= link_to material_icon.delete, [:teacher, @group], method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'link-destroy' %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="tabs-area">
        <div class="row">
          <ul class="tabs">
            <li class="tab column xs4">
              <%= link_to 'Élèves', '#group_students' %>
            </li>
            <li class="tab column xs4">
              <%= link_to 'Chapitres', '#chapters' %>
            </li>
            <li class="tab column xs4">
              <%= link_to 'Discussion', '#discussion' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row tabs-container">
        <div class="tab-content column xs12" id="group_students">
          <div class="table-area">
            <div class="header">
              Mes élèves
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th class="text">Nom</th>
                    <th class="text">Prénom</th>
                    <th class="actions"></th>
                  </tr>
                </thead>
                <tbody>
                  <% if @group.students.any? %>
                    <% @group.students.includes(:account).each do |student| %>
                      <tr>
                        <td class="text"><%= student.last_name %></td>
                        <td class="text"><%= student.first_name %></td>
                        <td class="actions">
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="3">Vous n'avez pas encore ajouté d'élèves à ce groupe.</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="actions-area">
            <%= link_to 'Modifier', teacher_group_students_path, class: 'btn' %>
          </div>
        </div>
        <div class="tab-content column xs12" id="chapters">
          <div class="table-area">
            <div class="header">
              Chapitres
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th class="actions"></th>
                    <th class="text">Titre</th>
                    <th class="numeric">Cours</th>
                    <th class="numeric">Exercices</th>
                    <th class="Actions"></th>
                  </tr>
                </thead>
                <tbody id="chapters_rows" data-sort-url="<%= sort_teacher_group_chapters_path(@group) %>">
                  <% if @group.chapters.any? %>
                    <% @group.chapters.each do |chapter| %>
                      <tr id="chapter_<%= chapter.id %>">
                        <td class="action">
                          <%= material_icon.reorder.css_class('draggable') %>
                        </td>
                        <td class="text"><%= chapter.name %></td>
                        <td class="numeric"><%= chapter.lessons_count%></td>
                        <td class="numeric"><%= chapter.exercises_count%></td>
                        <td class="actions">
                          <%= link_to material_icon.visibility, [:teacher, chapter], class: 'btn link-see' %>
                          <%= link_to material_icon.edit, edit_teacher_chapter_path(chapter), class: 'btn link-edit' %>
                          <%= link_to material_icon.delete, [:teacher, chapter], method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="5">Vous n'avez pas encore créé de chapitres pour ce groupe.</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="actions-area">
            <%= link_to 'Ajouter', new_teacher_group_chapter_path(@group), class: 'btn' %>
          </div>
        </div>
        <div class="tab-content column xs12" id="discussion">
          <div class="content-area">
            <div class="empty-state">
              <%= material_icon.watch_later %>
              <p>
                Cette fonctionnalité n'est pas encore disponible sur Shoshin.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $('#chapters_rows').sortable({
    items: '>tr',
    handle: '.draggable',
    cursor: 'move',
    containment: 'parent',
    tolerance: 'pointer',
    helper: function(event, ui) {
      ui.children().each(function() {
        $(this).width($(this).width());
      });
      return ui;
    },
    update: function (event, ui) {
      $.post($(this).data('sort-url'), $(this).sortable('serialize'));
    }
  }).disableSelection();
</script>
