<% content_for :title, @group.display_name %>
<div class="row">
  <div class="column l3">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @group.display_name %></h3>
      </div>
      <div class="content-area">
        <p><strong>Niveau:</strong> <%= @group.level_name %></p>
        <p><strong>Enseignement:</strong> <%= @group.teaching_name %></p>
        <p><strong>Élèves:</strong> <%= @group.students.count %></p>
      </div>
      <div class="actions-area">
        <%= link_to 'Supprimer', [:teacher, @group], method: :delete, data: { confirm: 'Attention! Cette action est définitive. Confirmez vous la suppression de ce groupe?' }, class: 'btn link-destroy' %>
        <%= link_to 'Modifier', edit_teacher_group_path(@group), class: 'btn' %>
      </div>
    </div>
  </div>
  <div class="column l9">
    <div class="card">
      <div class="tabs-area">
        <div class="row">
          <ul class="tabs">
            <li class="tab column xs6 active">
              <%= link_to 'Discussion', '#group_chat' %>
            </li>
            <li class="tab column xs6">
              <%= link_to 'Chapitres', '#group_chapters' %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row tabs-container">
        <div class="tab-content column xs12 active" id="group_chat">
          <%= render 'group_chat/chat_area' %>
        </div>
        <div class="tab-content column xs12" id="group_chapters">
          <div class="table-area">
            <div class="header">
              Chapitres
            </div>
            <div class="table">
              <table>
                <thead>
                  <tr>
                    <th class="actions"></th>
                    <th class="text">Titre</th>
                    <th class="numeric">Cours</th>
                    <th class="numeric">Exercices</th>
                    <th class="Actions"></th>
                  </tr>
                </thead>
                <tbody id="chapters_rows" data-sort-url="<%= sort_teacher_group_chapters_path(@group) %>">
                  <% if @group.chapters.any? %>
                    <% @group.chapters.each do |chapter| %>
                      <tr id="chapter_<%= chapter.id %>">
                        <td class="action">
                          <%= material_icon.reorder.css_class('draggable') %>
                        </td>
                        <td class="text"><%= chapter.name %></td>
                        <td class="numeric"><%= chapter.lessons_count%></td>
                        <td class="numeric"><%= chapter.exercises_count%></td>
                        <td class="actions">
                          <%= link_to material_icon.visibility, [:teacher, chapter], class: 'btn link-see' %>
                          <%= link_to material_icon.edit, edit_teacher_chapter_path(chapter), class: 'btn link-edit' %>
                          <%= link_to material_icon.delete, [:teacher, chapter], method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
                        </td>
                      </tr>
                    <% end %>
                  <% else %>
                    <tr>
                      <td colspan="5">Vous n'avez pas encore créé de chapitres pour ce groupe.</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="actions-area">
            <%= link_to 'Ajouter', new_teacher_group_chapter_path(@group), class: 'btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
  $('#chapters_rows').sortable({
    items: '>tr',
    handle: '.draggable',
    cursor: 'move',
    containment: 'parent',
    tolerance: 'pointer',
    helper: function(event, ui) {
      ui.children().each(function() {
        $(this).width($(this).width());
      });
      return ui;
    },
    update: function (event, ui) {
      $.post($(this).data('sort-url'), $(this).sortable('serialize'));
    }
  }).disableSelection();
</script>
