<% content_for :title, 'Groupes - Mes eleves' %>
<div class="page-title">
  <div class="title">
    <%= @group.display_name %>
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, @group] %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Liste d'élèves</h3>
      </div>
      <%= simple_form_for @group, url: teacher_group_students_path(@group) do |f| %>
        <div class="content-area">
          <div class="row">
            <% current_user.school.classrooms.includes(students: :account).where(level: @group.level).each do |classroom| %>
              <div class="column vertical-checkboxes classroom_students_checkboxes" id="classroom_<%= classroom.id %>">
                <h5><%= classroom.name %></h5>
                <%= f.collection_check_boxes :student_ids, classroom.students, :id, :full_name do |b| %>
                  <%= b.check_box %> <%= b.label %>
                <% end %>
                <div class="actions-checkbox">
                  <%= link_to 'Tous', '#', class: 'btn select-all' %>
                  <%= link_to 'Aucun', '#', class: 'btn alert unselect-all' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="actions-area">
          <%= f.button :submit, 'Enregistrer' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
