<% content_for :title do %>
  <%= @theme.teaching_name %> - <%= @theme.cycle_name %><br>
  <%= @theme.name %> (<%= @theme.level_names %>)
<% end %>
<% content_for :parent_url, admin_teaching_cycle_path(@theme.teaching_cycle) %>
<div class="row">
  <div class="column xs11 offset-l1 l10">
    <% @theme.expectations.each do |expectation| %>
      <div class="card">
        <div class="table-area">
          <div class="header">
            <%= expectation.name %>
          </div>
          <div class="table">
            <table>
              <thead>
                <th class="text">Connaissances associées</th>
              </thead>
              <tbody>
                <% expectation.knowledge_items.each do |knowledge_item| %>
                  <tr>
                    <td class="text"><%= knowledge_item.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="actions-area">
          <%= link_to 'Modifier', edit_admin_expectation_path(expectation), class: 'btn' %>
          <%= link_to 'Supprimer', admin_expectation_path(expectation), method: :delete, data: { confirm: 'En êtes vous sûr?' }, class: 'btn link-destroy' %>
        </div>
      </div>
    <% end %>
    <div class="card">
      <div class="actions-area">
        <%= link_to 'Ajouter', new_admin_theme_expectation_path(@theme), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
