<% content_for :title, 'Enseignements' %>
<div class="page-title">
  <div class="title">Enseignements</div>
</div>
<div class="row">
  <div class="column xs12 offset-l1 l10">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Enseignements
        </div>
        <div class="table">
          <table id="teachings_table">
            <thead>
              <tr>
                <th class="text">Nom</th>
                <th class="text">Abbr.</th>
                <th class="text">Cycles</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% @teachings.each do |teaching| %>
                <tr>
                  <td class="text"><%= teaching.name %></td>
                  <td class="text"><%= teaching.short_name %></td>
                  <td class="text">
                    <% teaching.teaching_cycles.each do |teaching_cycle| %>
                      <%= link_to teaching_cycle.cycle_name, admin_teaching_cycle_path(teaching_cycle) %>
                    <% end %>
                  </td>
                  <td class="actions">
                    <%= link_to material_icon.edit, edit_admin_teaching_path(teaching), class: 'btn' %>
                    <%= link_to material_icon.delete, admin_teaching_path(teaching), method: :delete, data: { confirm: 'En êtes vous sûr ?' }, class: 'btn link-destroy' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions-area">
        <%= link_to 'Ajouter', new_admin_teaching_path, class: 'btn link-add' %>
      </div>
    </div>
  </div>
</div>
