<% content_for :title, @chapter.name %>
<% content_for :parent_url, url_for([:student, @chapter.group]) %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Cours
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Titre</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% if @chapter.lessons.any? %>
                <% @chapter.lessons.each do |lesson| %>
                  <tr>
                    <td class="text"><%= lesson.name %></td>
                    <td class="actions">
                      <%= link_to material_icon.visibility, [:student, @chapter, lesson], class: 'btn' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">Aucun cours pour ce chapitre.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-area">
        <div class="header">
          Exercices non faits
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Titre</th>
                <th class="actions">Faire</th>
              </tr>
            </thead>
            <tbody>
              <% if @undone_exercises.any? %>
                <% @undone_exercises.each do |exercise| %>
                  <tr>
                    <td class="text"><%= exercise.name %></td>
                    <td class="actions">
                      <%= link_to material_icon.edit, [:student, @chapter, exercise], class: 'btn' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">Aucun exercice pour ce chapitre.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="table-area">
        <div class="header">
          Exercices faits
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="text">Titre</th>
                <th class="numeric">Score</th>
                <th class="actions">Voir</th>
                <th class="actions">Refaire</th>
              </tr>
            </thead>
            <tbody>
              <% if @exercises.any? %>
                <% @exercises.each do |exercise| %>
                  <tr>
                    <td class="text"><%= exercise.name %></td>
                    <td class="numeric"><%= current_user.user_exercise_forms.where(exercise: exercise).last.score %></td>
                    <td class="actions">
                      <%= link_to material_icon.visibility, student_chapter_exercise_result_path(@chapter.id, exercise.id, current_user.user_exercise_forms.where(exercise: exercise).last.id), class: 'btn' %>
                    </td>
                    <td class="actions">
                      <%= link_to material_icon.edit, [:student, @chapter, exercise], class: 'btn' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="2">Aucun exercice pour ce chapitre.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
