<% content_for :title, @chapter.name %>
<div class="page-title">
  <div class="title">
    <%= @chapter.name %>
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:student, @chapter.group] %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Exercices
        </div>
        <table>
          <thead>
            <tr>
              <th class="text">Titre</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% if @chapter.exercises.any? %>
              <% @chapter.exercises.each do |exercise| %>
                <tr>
                  <td class="text"><%= exercise.name %></td>
                  <td class="actions">
                    <%= link_to material_icon.visibility, [:student, @chapter, exercise], class: 'btn' %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">Aucun exercice pour ce chapitre.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card">
      <div class="table-area">
        <div class="header">
          Cours
        </div>
        <table>
          <thead>
            <tr>
              <th class="text">Titre</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% if @chapter.lessons.any? %>
              <% @chapter.lessons.each do |lesson| %>
                <tr>
                  <td class="text"><%= lesson.name %></td>
                  <td class="actions">
                    <%= link_to material_icon.visibility, [:student, @chapter, lesson], class: 'btn' %>
                  </td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">Aucun cours pour ce chapitre.</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
