<% content_for :title, 'Thèmes' %>
<div class="page-title">
  <div class="title">
    <%= @teaching_cycle.teaching_name %> - <%= @teaching_cycle.cycle_name %><br>
    Thèmes
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, teacher_teacher_teaching_cycles_path %>
  </div>
</div>
<div class="row">
  <div class="column x12 offset-l1 l10">
    <div class="card">
      <div class="table-area">
        <div class="header">
          Thèmes
        </div>
        <table>
          <thead>
            <tr>
              <th class="text">Nom</th>
              <th class="numeric">Attendus</th>
              <th class="actions"></th>
            </tr>
          </thead>
          <tbody>
            <% @teaching_cycle.themes.each do |theme| %>
              <tr>
                <td class="text"><%= theme.name %></td>
                <td class="numeric"><%= theme.expectations.size %></td>
                <td class="actions"><%= link_to material_icon.visibility, teacher_theme_path(theme), class: 'btn' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
