<% content_for :title do %>
  <%= @teaching_cycle.teaching_name %> - <%= @teaching_cycle.cycle_name %><br>
  Thèmes
<% end %>
<% content_for :parent_url, teacher_teaching_cycles_path %>
<div class="row">
  <div class="column x12 offset-l1 l10">
    <% @teaching_cycle.themes.each do |theme| %>
      <div class="card">
        <div class="title-area">
          <h3 class="main-title"><%= theme.name %></h3>
        </div>
        <div class="accordion-area">
          <% theme.expectations.each do |expectation| %>
            <div class="parent">
              <h4><%= expectation.name %></h4>
              <div class="overflow">
                <div class="children">
                  <% expectation.knowledge_items.each do |knowledge_item| %>
                    <div class="child">
                      <div><%= knowledge_item.name %></div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
