<% content_for :title do %>
  <%= @theme.teaching_name %> - <%= @theme.cycle_name %><br>
  Thème : <%= @theme.name %>
<% end %>
<% content_for :parent_url, teacher_teaching_cycle_themes_path(@theme.teaching_cycle) %>
<div class="row">
  <div class="column x12 offset-l1 l10">
    <% @theme.expectations.each do |expectation| %>
      <div class="card">
        <div class="table-area">
          <div class="header">
            <%= expectation.name %>
          </div>
          <div class="table">
            <table>
              <thead>
                <tr>
                  <th class="text">Connaissances associées</th>
                </tr>
              </thead>
              <tbody>
                <% expectation.knowledge_items.each do |knowledge_item| %>
                  <tr>
                    <td class="text"><%= knowledge_item.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
