<% content_for :title, @assignment.exercise_name %>
<% content_for :parent_url, url_for([:student, @assignment.group]) %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="table-area">
        <div class="header">
          <%= @assignment.exercise_name %>
        </div>
        <div class="table">
          <table>
            <thead>
              <tr>
                <th class="numeric">Score</th>
                <th class="numeric">Fait le</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
              <% if current_user.student_exercise_forms.where(assignment: @assignment).any? %>
                <% current_user.student_exercise_forms.where(assignment: @assignment).each do |student_exercise_form| %>
                  <tr>
                    <td class="numeric">
                      <%= student_exercise_form.score %>
                    </td>
                    <td class="numeric">
                      <%= student_exercise_form.created_at.strftime('%d/%m/%y')%>
                    </td>
                    <td class="actions">
                      <%= link_to material_icon.visibility, student_exercise_form_path(student_exercise_form) , class: 'btn btn-see' %>
                    </td>
                  </tr>
                <% end %>
              <% else %>
                <tr>
                  <td colspan="3">Vous n'avez pas encore fait cet exercice.</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="actions-area">
        <%= link_to '(Re)Faire', new_student_assignment_exercise_form_path(@assignment), class: 'btn' %>
      </div>
    </div>
  </div>
</div>
