<% content_for :title, 'Modifier un utilisateur' %>
<div class="page-title">
  <div class="title">
    Modifier un utilisateur
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, admin_users_path %>
  </div>
</div>
<div class="row">
  <div class="column xs12">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Données</h3>
      </div>
      <%= simple_form_for @user, url: admin_user_path(@user) do |f| %>
        <div class="content-area">
          <%= f.input :first_name, label: 'Prénom' %>
          <%= f.input :last_name, label: 'Nom de famille' %>
          <%= f.input :email, label: 'Courriel' %>
          <%= f.simple_fields_for :account do |s| %>
          <%= f.input :user_type, as: :radio_buttons, collection: Account.role_options, label: 'Role', disabled: true %>
          <% end %>
        </div>
        <div class="actions-area">
          <%= f.button :submit, 'Enregistrer' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
