<header>
  <div class="user-avatar">
    <img src="<%= gravatar_url(current_user.email) %>" alt="mon avatar" />
  </div>
  <div class="action-bar">
    <div class="user-name"><%= current_user.full_name %></div>
    <div class="user-email">
      <%= current_user.email %>
    </div>
  </div>
</header>
<div class="navigations">
  <div class="navigation">
    <div class="link">
      <%= link_to (material_icon.home.to_s + 'Accueil'), root_url %>
    </div>
  </div>
  <div class="navigation">
    <div class="subheader">Mes groupes</div>
    <% current_user.groups.includes(:level, :teaching).each do |group| %>
    <div class="link">
      <%= link_to material_icon.group_work.to_s + group.display_name, [:student, group] %>
    </div>
    <% end %>
  </div>
</div>
<div class="navigation bottom">
  <div class="link"><%= link_to (material_icon.settings.to_s + 'Mon compte'), edit_account_registration_path %></div>
  <div class="link"><%= link_to (material_icon.power_settings_new.to_s + 'Déconnexion'), destroy_account_session_path, method: :delete %></div>
</div>
