<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? 'Shoshin - ' + yield(:title) : 'Shoshin' %>
    </title>

    <meta name="description" content="Plateforme pédagogique libre et gratuite pour l'école primaire, le collège et le lycée.">
    <meta name="keywords" content="Shoshin, ENT, libre, gratuit, exercices, cours, primaire, collège, lycée, brevet, bac">
    <meta name="google-site-verification" content="lLW6ILuva0A3ZgcRYADjDWEV9q0sbUlPFMwnrK03EqQ" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ['\\(','\\)'] ],
          processEscapes: true,
          skipTags: ["script","noscript","style","textarea","code", "trix-editor"]
        }
      });
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <% if account_signed_in? %>
      <header id="top-nav">
        <%= render partial: 'layouts/top_bar' %>
      </header>
      <nav id="drawer">
        <%= render partial: "layouts/#{current_account.role}_navigation_links" %>
      </nav>
      <main>
        <div class="page-title">
          <div class="title">
            <%= yield :title %>
          </div>
          <% if content_for?(:parent_url) %>
            <div class="links">
              <%= link_to material_icon.arrow_back, yield(:parent_url) %>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </main>
    <% else %>
      <main class="guest">
        <%= yield %>
      </main>
    <% end %>
    <%= render partial: 'layouts/flash_messages' %>
  </body>
</html>
